# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store/

# Logs
logs/
*.log

# Runtime data
*.sqlite
*.db
*.json
/app/data/ # Exclude the actual data directory from Git if it's within the repo

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build artifacts
dist/
build/